.header {
    display: flex;
    justify-content: space-between;

    .left-side {
        display: flex;
        justify-content: space-between;
    }

    .right-side {
        display: flex;
        justify-content: space-between;
    }

    .search-input {
        .wrapper-input {
            display:inline-block;
            position: relative;
        }

        .wrapper-input:after {
            font-family: 'FontAwesome';
            position: absolute;
            right: 6px;
            top: 4px;
        }
    }
}

.search-modal {
    width: 100px;
    height: 100px;
}
